package home

import "engineer.sh/views/layout"

templ Root() {
	@layout.Base() {
		<table>
			<tr>
				<tr>
					<th>Company</th>
					<th>Contact</th>
					<th>Country</th>
				</tr>
				<tr>
					<th>Selise</th>
					<th>17655230</th>
					<th>Switzerland</th>
				</tr>
				<tr>
					<th>NDI</th>
					<th>17652230</th>
					<th>Bhutan</th>
				</tr>
			</tr>
		</table>
	}
}
