package layout

templ Base() {
	<html>
		<head></head>
		<body>
			<!-- Header -->
			<header>
				<h1>engineer.sh</h1>
				<nav>
					<a href="/">Home</a>
					<a href="/about">About</a>
					<a href="/contact">Contact</a>
				</nav>
			</header>
			<!-- Main content -->
			<main>
				{ children... }
			</main>
			<!-- Footer -->
			<footer>
				<p>&copy; 2024 engineer.sh. All rights reserved.</p>
			</footer>
		</body>
	</html>
}
